body {
    margin: 0;
    font-family: Arial;
    display: flex;
    height: 100vh;
}

/* LEFT */
.left {
    width: 60%;
    background: linear-gradient(to bottom right, #3b2b2b, #5a3a3a);
    color: white;
    padding: 50px;
}

.left p {
    color: black;
}

.notice {
    margin-top: 40px;
    background: #f5f5f5;
    color: black;
    padding: 20px;
    border-left: 5px solid #8B1E2D;
    border-radius: 8px;
    
}

p{
    color: black;
}

/* RIGHT SECTION */
.right {
    width: 40%;
    background: #8B1E2D;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGIN CARD (separate box with shadow) */
.login-box {
    background: #ffffff; /* white card */
    padding: 35px;
    width: 340px;
    border-radius: 12px;
    color: #2E2E2E;

    /*  Shadow effect */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

    /* subtle border accent */
    border-top: 5px solid #8B1E2D;
}

/* Heading */
.login-box h2 {
    text-align: center;
    color: #8B1E2D;
    margin-bottom: 20px;
}

/* Inputs */
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Focus effect */
input:focus, select:focus {
    outline: none;
    border-color: #8B1E2D;
    box-shadow: 0 0 5px rgba(139, 30, 45, 0.3);
}

/* DOB row */
.dob {
    display: flex;
    gap: 5px;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: #8B1E2D;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

/* Hover */
button:hover {
    background: #A63A4A;
}

.login-box {
    transition: transform 0.3s ease;
}

.login-box:hover {
    transform: translateY(-5px);
}
